/* Defining Dark Mode */

.dark-mode {
    background-color: black;
    color: white;
  }

/* Formatting the Navigation Bar*/
.header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
  }

/* Formatting the Button */
.fa-affiliatetheme {
    background: #3B5998;
    color: white;
  }

/* Styles for the Center Box */
.box {
    width: 900px;
    height: 1000px;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    border: solid white 1px;

    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}